<h1>Alphabetized Customers</h1>

<div class="navigation-links">
  <%= link_to 'All Customers', root_path %>
  <%= link_to 'Missing Email', customers_missing_email_path %>
</div>

<%= render @customers %>